<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fahrzeug bearbeiten</title>
</head>
<body>

<h1>Fahrzeug bearbeiten</h1>

<form th:action="@{/fahrzeuge/update/{id}(id=${fahrzeug.id})}"
      th:object="${fahrzeug}"
      method="post">

    Marke:
    <input type="text" th:field="*{marke}" />
    <br><br>

    Max Geschwindigkeit:
    <input type="number" th:field="*{maxGeschwindigkeit}" />
    <br><br>

    Preis:
    <input type="number" step="0.01" th:field="*{preis}" />
    <br><br>

    <button type="submit">Speichern</button>

</form>

<br>
<a th:href="@{/fahrzeuge/list}">Zurück</a>

</body>
</html>
